MONGODB_URI=your_mongodb_uri_here
JWT_SECRET=your_jwt_secret_here
GOOGLE_CLIENT_ID=your_google_client_id_here
GMAIL_USER=your_gmail_user_here
GMAIL_PASSWORD=your_gmail_password_here
PORT=your_port_here